{
    "ConnectionStrings": {
      "DefaultConnection": "server=localhost;port=3306;database=virtualadvisor;user=root;password="
    },
    "AppSettings": {
      "Token": "Khóa_Bí_Mật_Mạnh_Để_KHÔNG_BỊ_LỘ_RA_NGOÀI_HEHEHE"
    },
    "SmtpSettings": {
      "Host": "smtp.gmail.com",
      "Port": 587,
      "UserName": "huanthatbai123@gmail.com",
      "Password": "jzbr zygw bosy rtug",
      "FromEmail": "huanthatbai123@gmail.com",
      "FromName": "Cố vấn học tập ảo"
    },
    "FlaskAPI": {
      "BaseUrl": "http://localhost:5000"
    },
    "LibreOffice": {
      "Path": "C:\\Program Files\\LibreOffice\\program\\soffice.exe"
    },
    "Logging": {
      "LogLevel": {
        "Default": "Information",
        "Microsoft.AspNetCore": "Warning"
      }
    },
    "AllowedHosts": "*"
  }
  